
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.body {
    background-color: rgb(224, 224, 224);
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px black;
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 0 20px;
    font-family: 'Arial', sans-serif;
}

.logo {
    color: white;
    text-transform: lowercase;
    letter-spacing: -3px;
}

.logo span:first-child {
    color: #4422a3;
}

.logo span:last-child {
    font-size: 10px;
    letter-spacing: normal;
}

.menu li {
    position: relative;
}

.menu {
    display: flex;
}

.submenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background: #4422a3;
    min-width: 110%;
}

.menu li a {
    padding: 17px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.menu li:hover {
    background: #4422a3;
}

.menu > li:hover > .submenu, .submenu > li:hover > .submenu {
    display: block
}


.submenu li:hover {
    background: #2b136e;
}

.submenu li {
    position: relative;
}

.submenu li .submenu {
    top: 0;
    left: 100%;
}

